.d-flex.justify-content-center.mt-2
    each line in item.lines
        if line.type === 'footer-qr'
            .mt-2
                != line.value
    .d-flex.flex-column.ms-5
        each line in item.lines
            if line.type === 'footer-text'
                p.mb-1.text-start= line.value
            if line.type === 'footer-logo'
                p.mb-1.text-start!= line.value
